@page
@model WebApp.Pages_OrderPizzas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderPizza[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPizza[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPizza[0].Pizza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderPizza) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order!.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza!.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
