@page
@using BattleShipBrain
@model WebApp.Pages.LoadGame

@{
    ViewData["Title"] = "Load Game";
}

<h1>Click on a row with your game to continue it</h1>
<p>
    <a asp-page="./NewGame">Create New</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Config!.ConfigName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].CreationTime)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @if (System.IO.File.Exists(Model.LocalGamePath) && System.IO.File.Exists(Model.LocalLogPath))
    {
        <tr onclick="window.location.href = '/LocalGame?start=1' ">
            <td>
                Local Game
            </td>
            <td>
                @Model.State
            </td>
            <td>
                Local
            </td>
            <td>
            </td>
            <td>
                @if (Model.State == (EGameStatus) 2)
                {
                    <a asp-page="/ReplayGame" asp-route-id="0">Replay | </a>
                }
                <a asp-page="/DeleteGame" asp-route-id="0">Delete</a>
            </td>

        </tr>
    }
    @foreach (var item in Model.Games)
    {
        <tr onclick="window.location.href = '/Game?id=@item.GameId&start=1' ">
            <td>
                @Html.DisplayFor(modelItem => item.GameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.ConfigId == null)
                {
                    <text>0</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Config!.ConfigName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @if (item.Status == (EGameStatus) 2)
                {
                    <a asp-page="/ReplayGame" asp-route-id="@item.GameId">Replay | </a>
                }
                <a asp-page="/SaveGameDisk" asp-route-id="@item.GameId">Download | </a>
                <a asp-page="/DeleteGame" asp-route-id="@item.GameId">Delete</a>
            </td>

        </tr>
    }
    </tbody>
</table>