@page
@using BattleShipBrain
@model WebApp.Pages.LoadGame

@{
    ViewData["Title"] = "Load Game";
}

<h1>Click on a row with your game to continue it</h1>
<p>
    <a asp-page="./NewGame">Create New</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].ConfigId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games[0].CreationTime)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Games)
    {
        <tr onclick="window.location.href = '/Game?id=@item.GameId' ">
            <td>
                @Html.DisplayFor(modelItem => item.GameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.ConfigId == null)
                {
                    <text>0</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ConfigId)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @if (item.Status == (EGameStatus) 2)
                {
                    <a asp-page="/ReplayGame" asp-route-id="@item.GameId">Replay | </a>
                }
                <a asp-page="/DeleteGame" asp-route-id="@item.GameId">Delete</a>
            </td>

        </tr>
    }
    </tbody>
</table>


@*<form method="POST">
    <select class="form-select" aria-label="Game select">
        <option selected>Choose a game by ID</option>
        @foreach (var game in Model.Games)
        {
            <option value="@game.GameId">@game.GameId</option>
        }
    </select>
                <div class="form-group">
                    <input type="submit" value="Start" class="btn btn-primary" />
                </div>
</form>
*@