@page
@model WebApp.Pages_ConfigShips.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConfigShip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigShip.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigShip.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigShip.Config!.ConfigName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigShip.Config!.ConfigName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigShip.Ship)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfigShip.Ship!.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ConfigShip.ConfigShipId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
